header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.contenido {
    padding-top: 80px;
}

/*.header-video {
   position: relative;
   top: 0;
   left: 0;
   width: 50%;
   height: 50%;
   overflow: hidden;
}

.header-video video{
    min-width: 50%;
    min-height: 50%;
}

#formulario_Login{
    z-index: 1;
    opacity: .80;
}*/