{% extends 'layout.html' %}

{% block body %}
<style>
  .father {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .child {
    margin-top: 20px;
    width: 400px;
    border: rgb(52, 73, 94 ) solid 2px;
    padding: 20px;
    z-index: 10;
    background-color: rgb(52, 73, 94 );
    border-radius: 3px;
  }

  .pa {
    color: white;
    display: inline;
  }

  .contenedor {
    background-color: burlywood;
    position: absolute;
    z-index: 0;
  }
</style>

<div class="father">
  <div class="contenedor">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{url_for('static',filename='image1.jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static',filename='image2.jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static',filename='image3.jpg')}}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>

  <div class="child">
    {% with messages = get_flashed_messages(category_filter=['exito']) %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{message}}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=['error']) %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{message}}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h3 class="text-center text-light">INICIAR SESIÓN</h3>
    <form action="{{url_for('iniciarsesion')}}" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label mt-2 text-light">Usuario</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='nombre' placeholder="Usuario">
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label mt-2 text-light">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name='clave' placeholder='Contraseña'>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input text-light" name='recordar'>
        <label class="form-check-label fs-6 text-light" for="exampleCheck1">Recuérdame</label>
      </div>
      <div class="mb-2">
        <p class="pa">No tienes una cuenta?</p> <a href="{{url_for('registro')}}" class="aRegister">Registrate</a>
      </div>

      <div class="mb-4">
        <a href="#" class="aForget">¿Has olvidado la contraseña?</a>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
