{% extends 'layout.html' %}
{% block body %}

<div class="contenido pb-4 pt-4"> 
    <div class="row">
         <div class="col-md-12 pt-4 pb-4">
            <h1 class="text-center"><strong>Regístrate</strong></h1>
          </div>
    </div>
    <div class="row">
      <div class="col-md-4 pt-4 pb-4 ml-auto mr-auto">
        <form action="/registro" method="post">
            <div class="form-group">
              <label for="exampleInputPassword1">Nombre</label>
              <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo</label>
              <input type="email" class="form-control" name="correo" placeholder="Correo">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" name="contrasena" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Teléfono</label>
              <input type="text" class="form-control" name="tel" placeholder="Teléfono">
            </div>
            <button type="submit" class="btn btn-primary">Regístrate</button>
            <div class="py-4">
              ¿Ya tienes una cuenta? <a class="nav-link text-black" href="/"><b>Iniciar sesión</b></a>
            </div>
            
          </form>
      </div>
    </div>
</div>

{% endblock %}